{% if user.is_authenticated %}
Logged in as {{ user.username }}

<form action="{% url 'logoutuser' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
<a href="{% url 'home' %}">Home</a>
<br>
<br>
<a href="{% url 'createtodo' %}">Create todo</a>
<br>
<a href="{% url 'currenttodos' %}">Current</a>
<br>
<a href="{% url 'completedtodos' %}">Completed</a>
<br>

{% else %}
<a href="{% url 'signupuser' %}">Signup</a>
<br>
<a href="{% url 'loginuser' %}">Login</a>
<br>

{% endif %}

{% block content %}

{% endblock %}
